In [3]:
x = "pakistan \ \"pakistan. "
x

'pakistan \\ "pakistan. '

In [8]:
x = " pakistan \n zinda bad "
x

' pakistan \n zinda bad '

In [11]:
import re

x = " pakistan \n zinda bad pak"
l = re.findall(".*",x) #except
l

[' pakistan ', '', ' zinda bad ', '']

In [19]:
import re

x = " pakistan \n zinda bad pakInd pakola 100"
l = re.findall("pak[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]",x) #except
l

['paki', 'pakI', 'pako']

In [24]:
import re

x = " pakistan \n zinda bad pakInd pakola 100 Armypakistan"
l = re.findall("pak[a-zA-Z]+",x) #except
l

['pakistan', 'pakInd', 'pakola', 'pakistan']

In [33]:
import re

x = " pakistan \n zinda bad pakInd pakola 100 Armypakistan pak1"
l = re.findall("pak[a-zA-Z0-9]+",x) #except
l

['pakistan', 'pakInd', 'pakola', 'pakistan', 'pak1']

In [31]:
import re

x = " pakistan \n zinda bad pakInd pakola 100 Armypakistan pak1"
l = re.findall("[a-zA-Z0-9]+pak[a-zA-Z0-9]+",x) #except
l

['Armypakistan']

In [23]:
import re

x = " pakistan \n zinda bad pakInd pakola 100"
l = re.findall("pak[a-zA-Z]*",x) #except
l

['pakistan', 'pakInd', 'pakola']

In [49]:
import re

x = " pakistan \n zinda bad pakInd pakola 100 Armypakistan pak1 azad kousar pst poland"
l = re.findall("pa?[A-z]+",x) #except
l

['pakistan', 'pakInd', 'pakola', 'pakistan', 'pak', 'pst', 'poland']

In [62]:
import re

x = " pakistan \n zinda bad pakInd pakola 100 Armypakistan pak1 azad kousar pst poland"
l = re.findall("p[A-z]+n",x) #except
l

['pakistan', 'pakIn', 'pakistan', 'polan']

In [54]:
web = """
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>This is a Heading</h1>
<p>This is a paragraph.</p>

</body>
</html>
"""

op = re.findall('<[A-z0-9]+>',web)
cl = re.findall('</[A-z0-9]+>',web)
print(op)
print(cl)

['<html>', '<head>', '<title>', '<body>', '<h1>', '<p>']
['</title>', '</head>', '</h1>', '</p>', '</body>', '</html>']

In [68]:
import re

x = " pakistan \n zinda bad pakInd pakola 100 Armypakistan pak1 azad kousar pst poland pak"
l = re.findall("p[A-z]{5}",x) #except
l

['pakist', 'pakInd', 'pakola', 'pakist', 'poland']

In [87]:
import re

x = """
today saylani class 10:26 PM pakistan time
today saylani class 01:26 PM pakistan time
today saylani class 11:26 AM pakistan time
today saylani class 12:26 PM pakistan time
"""

l = re.findall("\d{2}:\d{2} [PMAM]{2}",x) #except
l

['10:26 PM', '01:26 PM', '11:26 AM', '12:26 PM']

In [96]:
f = open("./chat.txt", encoding='utf-8')
f = f.readlines()
print(len(f))

1200

In [99]:
f[0:5]

['09:03:08 From Syed Jawad [PIAIC185558] To Everyone : assalam wa alikum\n',
 '09:03:14 From Mustafa Mufti To Everyone : Theek thaak sir, thank you\n',
 '09:03:16 From Syed Jawad [PIAIC185558] To Everyone : alhamdulliah how r u?\n',
 '09:03:17 From Rao Arslan To Everyone : Muhammad Arslan [PIAIC-126354]\n',
 '09:03:20 From Mustafa Mufti To Everyone : Nahi sir all good\n']

In [122]:
x = "'09:03:02 From Syed Jawad [PIAIC185558] To Everyone : assalam wa alikum\n'"
t = re.findall("\d{1,2}:\d{1,2}:\d{1,2}",x)
name = re.findall("From [A-z ]+",x)
print(t,name)

['09:03:02'] ['From Syed Jawad [PIAIC']

In [137]:
m = re.match(r"(?P<first_name>\w+) (?P<last_name>\w+)", "Malcolm Reynolds")
m[0]

'Malcolm Reynolds'

In [138]:
m[1]

'Malcolm'

In [139]:

m.groupdict()

{'first_name': 'Malcolm', 'last_name': 'Reynolds'}

In [144]:
import pandas as pd
type(m.groupdict())

dict

In [147]:
pd.DataFrame({k:[v] for k,v in m.groupdict().items()})

  first_name last_name
0    Malcolm  Reynolds